In [1]:
import pandas as pd
from sklearn.preprocessing import Imputer

In [2]:
train = pd.read_csv(r"F:\Desktop\Digital Lync\DataSets\Titanic\train.csv")
test = pd.read_csv(r"F:\Desktop\Digital Lync\DataSets\Titanic\test.csv")

In [3]:
train = train.set_index('PassengerId')
test = test.set_index('PassengerId')

In [4]:
print(train.shape, train.isnull().sum())

(891, 11) Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [5]:
train = train.drop(['Cabin'], axis = 1)

In [6]:
test = test.drop(['Cabin'], axis = 1)

In [7]:
imp = Imputer(missing_values = 'NaN', strategy = 'median', copy = False)
train['Age'] = imp.fit_transform(train['Age'].values.reshape(-1, 1))
test['Age'] = imp.fit_transform(test['Age'].values.reshape(-1, 1))
test['Fare'] = imp.fit_transform(test['Fare'].values.reshape(-1, 1))

In [8]:
print(train.info(), train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB
None Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    2
dtype: int64

In [9]:
mode = train['Embarked'].value_counts().index[0]
train['Embarked'] = train['Embarked'].fillna(mode)

In [10]:
print(train.isnull().sum(), test.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64 Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [11]:
print(train.info(), test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 9 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null object
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        418 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 32.7+ KB
None None

In [12]:
train['Survived'] = train['Survived'].astype('category')
cat_cols = ['Name', 'Ticket', 'Sex', 'Embarked','Pclass']

for col in cat_cols:
    train[col] = train[col].astype('category')
    test[col] = test[col].astype('category')

In [13]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [14]:
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
Survived    891 non-null category
Pclass      891 non-null category
Name        891 non-null category
Sex         891 non-null category
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null category
Fare        891 non-null float64
Embarked    891 non-null category
dtypes: category(6), float64(2), int64(2)
memory usage: 114.4 KB

In [16]:
train = train.drop(['Name', 'Ticket'], axis = 1)
test = test.drop(['Name', 'Ticket'], axis = 1)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
Survived    891 non-null category
Pclass      891 non-null category
Sex         891 non-null category
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null category
dtypes: category(4), float64(2), int64(2)
memory usage: 38.7 KB

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
Pclass      418 non-null category
Sex         418 non-null category
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        418 non-null float64
Embarked    418 non-null category
dtypes: category(3), float64(2), int64(2)
memory usage: 17.8 KB

In [19]:
train1 = pd.get_dummies(train, columns = cat_cols[2:], drop_first = True)
test1 = pd.get_dummies(test, columns = cat_cols[2:], drop_first = True)

In [20]:
train1.head()

,Survived,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,
1,0,22.0,1,0,7.2500,1,0,1,0,1
2,1,38.0,1,0,71.2833,0,0,0,0,0
3,1,26.0,0,0,7.9250,0,0,1,0,1
4,1,35.0,1,0,53.1000,0,0,1,0,0
5,0,35.0,0,0,8.0500,1,0,1,0,1

In [21]:
test1.head()

,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Pclass_2,Pclass_3
PassengerId,,,,,,,,,
892,34.5,0,0,7.8292,1,1,0,0,1
893,47.0,1,0,7.0000,0,0,1,0,1
894,62.0,0,0,9.6875,1,1,0,1,0
895,27.0,0,0,8.6625,1,0,1,0,1
896,22.0,1,1,12.2875,0,0,1,0,1

In [22]:
x = train1.drop(['Survived'], axis = 1)
y = train1['Survived']

In [36]:
import xgboost as xg
from sklearn.ensemble import (AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier, RandomForestClassifier)

In [116]:
model = GradientBoostingClassifier(learning_rate = 0.3)
model.fit(x, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.3, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [117]:
train_preds = model.predict(x)
test_preds = model.predict(test1)

In [118]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y, train_preds)
clr = classification_report(y, train_preds)
print(cm, clr)

[[535  14]
 [ 32 310]]              precision    recall  f1-score   support

          0       0.94      0.97      0.96       549
          1       0.96      0.91      0.93       342

avg / total       0.95      0.95      0.95       891

In [119]:
sub = pd.DataFrame(test_preds, index = test1.index, columns = ['Survived'])
sub.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0

In [120]:
sub.to_csv('Titanic.csv', index = True)